/* ------------------------- Assets ------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('C:\Programming\React\Book Store Practice\client\app\src\assets\fonts\Playfair_Display\PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* ------------------------- Navbar.module.css -------------------------- */
 
.header {
    background: transparent;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
}

.header.scrolled {
    background-color: black;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 50px;
    background: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin-right: auto; 
    font-family: 'PlayfairDisplay', serif;
}

.navbar {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    z-index: 200;
}

.navList {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-left: center;
}

.navItem {
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.link:hover {
    color: gray;
}

.navItem::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.navItem:hover::before {
    opacity: 1;
}

.navOpen {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: #252525;
    z-index: 100;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    overflow: hidden; 
}
.navOpen .navList {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navOpen .logo {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.navOpen {
    transform: translateY(-100%); 
    animation: slideDown 0.5s ease-in-out forwards; 
}
@keyframes slideDown {
    to {
        transform: translateY(0); 
    }
}


/* ------------------ Hamburger Menu Styling ------------------ */
.hamburger {
    display: none;
    z-index: 300; 
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .navOpen {
        display: flex; 
    }

    .hamburger {
        display: block;
    }

    .logo {
        font-size: 24px;
    }

    
}

@media (min-width: 768px) {
    .navbar {
        display: flex; 
    }

    .navOpen {
        display: flex; 
    }

    .hamburger {
        display: none; 
    }
}
